body {
    background-color: #1A202C;


}
main{
    background-color: #2D3748;
    text-align: center;
    margin: 100px;

}

  .sidebar {
    height: auto;
    margin-right: 100px;
    width: 200px;
    background-color: #2D3748;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color:  #E2E8F0;
    padding: 13px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    color: white;
  }
  
